.main {
    margin-bottom: 10px;
    height: auto;
}

.top-random img{
    max-height: 300px;
}
#gununFilmiIndex div,
#random,#topten{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#gununFilmiIndex div:hover,
#random:hover,#topten:hover{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    cursor: pointer;
}

.filter-buttons{
    top: 50px;
    background-color: #000000;
    border-radius: 5px;
    border-bottom: 1px solid #ffffff;
    padding: 5px;
    margin-bottom: 7px;
    display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.filter-buttons button{
    
    text-decoration: none;
    margin: 2px;
    padding: 5px;
    background: none;
    border: none;
    color: #ffffff;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.filter-buttons button.active{
    color: #DCA424;
    text-decoration: underline;
}
.filter-buttons button:not(.active):hover{
    color: #DCA424;
    background-color: #202020;
    border-radius: 5px;
    padding-left: 10px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#filmler div .film-item{
    border: 4px solid #ffffff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#filmler div .film-item:hover{
    border: 4px solid #DCA424;
    cursor: pointer;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}
#filmler .film-item-con.show{
    display: block;
    animation: showItem 0.5s ease;
}

@-webkit-keyframes showItem{
    0%{
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes showItem{
    0%{
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    100%{
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}